body {
  background-image: url("./../public/images/Remove\ It_1700816165907.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /* position: fixed ; */
  /* background-color: black; */
}
